---
layout: default
---

<div>
  <pre class="banner">{% include banner.txt %}</pre>
</div>
<div>
  {% capture about %}{% include about.md %}{% endcapture %}
  {{ about | markdownify }}
</div>
<div>
  <h1>Events</h1>
  <h2>Current & Past</h2>
  <ul class="post-list">
    {% for post in site.posts %}
    <li>
      <a class="invite-link" href="{{ post.url | relative_url }}">
        {{ post.path | replace: '_posts/', '' | escape }}
      </a>
    </li>
    {% endfor %}
  </ul>
  <h2>Future proposals</h2>
  <p>
Planning of future events happens on the cracklab github. There you can follow the conception of future events or get yourself involved in organizing them. More details on our workflow is available in the <a>readme</a> of the repository. </p>
</div>
